* {
  box-sizing: border-box; }

body,
html {
  margin: 0;
  padding: 0; }

main,
header,
footer,
#header__view-control,
#wrapper,
#wrapper-2,
.news,
.article-box,
.article__inner,
.news__img,
.news__inner,
button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

main,
.news,
#wrapper-2,
.article-box,
.article__inner {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

header,
#header__view-control,
#wrapper {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

header,
footer,
#wrapper-2,
.news,
.news__inner,
footer,
a, button {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

#wrapper, #wrapper-2 {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

footer a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #6c87d1;
  border-bottom: 0.05em solid #9c9c9c;
  padding: 0.1em 0;
  height: 2em;
  box-sizing: content-box;
  z-index: 200; }

h1 {
  margin: 0;
  padding-left: 0.5em;
  padding-top: 0.1em;
  width: 85%;
  height: 100%;
  line-height: 2em; }

.header__search-input {
  position: absolute;
  left: 0.5em;
  width: 0%;
  height: 2.4em;
  border: none;
  border-radius: 0.9em;
  transition: 0.6s;
  background: #fff;
  outline: none; }
  .header__search-input::-webkit-input-placeholder {
    color: #9c9c9c;
    font-weight: 200;
    padding-left: 0.5em; }
  .header__search-input:-moz-placeholder {
    color: #9c9c9c;
    font-weight: 200;
    padding-left: 0.5em; }
  .header__search-input::-moz-placeholder {
    color: #9c9c9c;
    font-weight: 200;
    padding-left: 0.5em; }
  .header__search-input:-ms-input-placeholder {
    color: #9c9c9c;
    font-weight: 200;
    padding-left: 0.5em; }

main {
  margin: 2em 0;
  padding: 1em 0em 1em 0em;
  position: relative; }

#wrapper .news {
  width: calc((100% / 3) - 0.4em);
  max-width: 10em;
  margin-right: 0.4em;
  text-align: center;
  border: 0.01em solid #ccc;
  margin-bottom: 0.7em;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 3px 1px #9c9c9c;
  -moz-box-shadow: 0px 0px 3px 1px #9c9c9c;
  -ms-box-shadow: 0px 0px 3px 1px #9c9c9c;
  box-shadow: 0px 0px 3px 1px #9c9c9c;
  transition: all 0.05s; }
  #wrapper .news:nth-child(3n+0) {
    margin-right: 0em; }
#wrapper img {
  width: 100%;
  height: 6em;
  margin-bottom: 1em; }
#wrapper .news__inner {
  margin-top: 1em;
  height: 50%;
  padding: 0 0.1em; }

#wrapper-2 h3 {
  margin: 0; }
#wrapper-2 i {
  color: #9c9c9c; }
#wrapper-2 .article-box {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  height: auto;
  width: 100%;
  border: 0.05em solid #a3a3a3;
  margin-bottom: 0.5em;
  -webkit-box-shadow: 0px 0px 3px 1px #9c9c9c;
  -moz-box-shadow: 0px 0px 3px 1px #9c9c9c;
  -ms-box-shadow: 0px 0px 3px 1px #9c9c9c;
  box-shadow: 0px 0px 3px 1px #9c9c9c; }
  #wrapper-2 .article-box img {
    width: 35%;
    height: auto;
    max-height: 4.7em;
    min-height: 4em; }
  #wrapper-2 .article-box .article__inner {
    padding: 0.5em .2em;
    padding-left: 0.3em;
    width: 70%; }
  #wrapper-2 .article-box h4 {
    font-size: 57%;
    margin: 0;
    margin-top: 0.3em; }
  #wrapper-2 .article-box p {
    display: none; }
  #wrapper-2 .article-box .fa-heart-o {
    top: 0.3em;
    right: 0.4em;
    color: #d60a0a;
    position: absolute; }
  #wrapper-2 .article-box .icons {
    position: absolute;
    bottom: 0.2em; }
  #wrapper-2 .article-box .fa-twitter, #wrapper-2 .article-box .fa-facebook {
    margin-top: 1em;
    padding-bottom: 0.05em; }
  #wrapper-2 .article-box .fa-facebook {
    margin-left: 0.3em; }
#wrapper-2 .article-box:nth-child(2) {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em; }
  #wrapper-2 .article-box:nth-child(2) .article__inner {
    padding: 0 0.5em;
    width: 100%;
    height: auto; }
  #wrapper-2 .article-box:nth-child(2) p {
    display: block;
    margin-top: 2em;
    font-size: 65%; }
  #wrapper-2 .article-box:nth-child(2) img {
    width: 100%;
    height: 50%;
    max-height: 10em;
    margin-bottom: 1em; }
  #wrapper-2 .article-box:nth-child(2) h4 {
    font-size: 90%;
    margin: 0; }
  #wrapper-2 .article-box:nth-child(2) .icons {
    position: static; }
  #wrapper-2 .article-box:nth-child(2) .fa-heart-o {
    top: 0.3em;
    right: 0.7em; }
  #wrapper-2 .article-box:nth-child(2) .fa-twitter, #wrapper-2 .article-box:nth-child(2) .fa-facebook {
    padding-bottom: 0.2em; }
#wrapper-2 a {
  text-decoration: none;
  color: #111; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2em;
  background: #fff; }
  footer a {
    color: #111;
    text-decoration: none; }
  footer button, footer a {
    width: calc(100% / 6);
    height: 100%; }
  footer button, footer a, footer .footer__cred-div {
    height: 100%;
    border-top: 0.06em solid #9c9c9c; }
  footer .footer__cred-div {
    width: calc((100% / 6) * 2);
    border-right: 0.01em solid #a3a3a3; }

button {
  background: transparent;
  border: 0.02em solid transparent;
  font-size: 1em;
  outline: none;
  color: #5c5b5b; }

#search-btn {
  width: 15%;
  height: 100%; }

footer button {
  border-right: 0.05em solid #9c9c9c; }

.footer__view-button {
  position: relative; }

.view-btn2, .view-btn1 {
  position: absolute; }

.view-btn2 {
  opacity: 0; }

body, html {
  font-size: calc(1em + 1vw);
  font-family: Arial, Helvetica, sans-serif; }

header h1 {
  font-size: 0.9em;
  color: #5c5b5b;
  font-weight: 600; }
header .header__view-control--item {
  font-size: 0.7em; }

.news {
  font-size: 0.7em; }
  .news .news__inner {
    font-size: 0.8em; }

.showInput {
  display: block;
  width: 80%;
  border-bottom: 0.01em solid #241f11; }

#wrapper .news--view-change {
  display: flex;
  flex-direction: row;
  width: 30em;
  max-width: 100%;
  margin-right: 0;
  height: 5em; }
#wrapper .newsImgWrapper--view-change {
  height: 5em;
  width: 30%; }
#wrapper .newsImg--view-change {
  width: 100%;
  height: 100%; }
#wrapper .newsInner--view-change {
  margin-top: 0;
  width: 70%;
  height: 100%;
  font-size: 1.2em; }

.hideHeaderTitle {
  opacity: 0; }

.show-view-btn1 {
  opacity: 0; }

.show-view-btn2 {
  opacity: 1; }

.hideBackBtn {
  color: #fff;
  border-right: none;
  display: none; }

.footer-view-wrapper {
  display: none; }

footer .extend-cred-div {
  width: calc((100% / 6) * 3); }

/*# sourceMappingURL=style.css.map */
