main {
    padding: 1em 0em 1em 0em;
    // background: #FAF3DD;
    position: relative;
}

// container with news sources

#wrapper {
    .news {
        width: calc((100% / 3) - 0.4em);
        max-width: 10em;
        margin-right: 0.4em;
        text-align: center;
        border: 0.01em solid #ccc;
        margin-bottom: 0.7em;
        cursor: pointer;
        @include box-shadow(0px, 0px, 5px, 1px, $darkGrey);
        transition: all 0.3s;

        &:nth-child(3n+0) {
            margin-right: 0em;
        } 

        
    }    

    img {
        width: 100%;
        height: 6em;
        margin-bottom: 1em;

    }

    .news__inner {
        margin-top: 1em;
        height: 50%;
        padding: 0 0.1em;

    }

  
}

//container with articles

#wrapper-2 {

    h3 {
        margin: 0;
    }

    i {
        color: $grey;
    }

    .article-box {
        display: flex;
        flex-direction: row;
        position: relative;
        height: auto;
        width:100%;
        border: 0.05em solid $lightGrey;
        margin-bottom: 0.5em;
        -webkit-box-shadow: -1px 2px 5px 2px $darkGrey;
        -moz-box-shadow: -1px 2px 5px 2px $darkGrey;
        box-shadow: -1px 2px 5px 2px $darkGrey;

        img {
            width:35%;
            height: auto;
            max-height: 5.1em;
            min-height: 4em;
        }

        .article__inner {
            padding: 0.5em .2em;
            padding-left: 0.3em;
            width: 70%;
        }

        h4 {
            font-size: 57%;
            margin-bottom: 0.3em;
        }
        
        p {
            display: none;
        }

        .fa-heart-o {
            top: 0.3em;
            right: 0.4em;
            color: $heartRed;
            position: absolute;
        }

        .icons {
            position: absolute;
            bottom: 0.2em;
        }

        .fa-twitter, .fa-facebook {
            margin-top: 1em;
            padding-bottom: 0.05em;
        }

        .fa-facebook {
            margin-left: 0.3em;
        }


    }
    
    .article-box:nth-child(2) {
        display: block;
        height: auto;
        // max-height: 20em;
        margin-top: 1em;
        margin-bottom: 1em;


        .article__inner {
            padding: 0 0.5em;
            width: 100%;
            height: auto;
        }

        p {
            display: block;
            margin-top: 2em;
            font-size: 65%;
        }

        img {
            width: 100%;
            height: 50%;
            max-height: 8em;
            margin-bottom: 1em;
        }

        h4 {          
            font-size: 90%;  
            margin: 0;
        }

        .icons {
            position: static;
        }

        .fa-heart-o {
            top: 0.3em;
            right: 0.7em;
        }

        .fa-twitter, .fa-facebook {
            padding-bottom: 0.2em;
        }
    }  

    a {
        text-decoration: none;
        color: $black;
    }
}