header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(97, 150, 207);
    border-bottom: 0.05em solid $grey;
    padding: 0.1em 0;
    height: 2em;
    box-sizing: content-box;
    z-index: 200;

    @media #{$desktop} {
        position: absolute;
        width: 60%;
        height: 1.8em;
        left: 20%;
        top: 1em;
        border-radius: 5px;
        border: 0.05em solid $grey;
        background: white;

    }
}

h1{
    margin: 0;
    padding-left: 0.5em;
    padding-top: 0.1em;
    width: 85%;
    height: 100%;
    line-height: 2em;
}

.header__search-input {
    position: absolute;
    left: 0.5em;
    width: 0%;
    height: 2.4em;
    border: none;
    border-radius: 0.9em;
    transition: 0.6s;
    background: $white;
    outline: none;
    
    @include placeholder {
        color: $grey;
        font-weight:200;
        padding-left: 0.5em;
    }

    @media #{$desktop} {
        width: 60%;
        left: 15em;
        height: 3em;
        border-radius: 0;
        border: 0.05em solid black;
    }
}