* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

main, 
header,
footer,
#header__view-control,
#wrapper, 
#wrapper-2,
#wrapper-3,
.news__container,
.news__content,
.article__container,
.article__inner,
.news__img,
.news__inner,
button,
.icons {
    @include flexbox();
}


main,
.news__container,
.news__content,
#wrapper-2,
.article__container,
.article__inner,
{
    @include flex-direction(column);
}

header,
#header__view-control,
#wrapper,
#wrapper-3 {
    @include flex-wrap(wrap);
}

header,
footer,
#wrapper-2,
.news__container,
.news__inner,
.news__content,
footer,
a, button {
    @include align-items(center);
    @include justify-content(center);
}

#wrapper, #wrapper-2, #wrapper-3 {
    @include justify-content(center);
    
}

footer {
    a {
        @include flexbox();
    }
}