$headerSand: #e08d20;
$black: #111;
$white: #fff;
$grey: #9c9c9c;
$darkGrey: #5c5b5b;
$lightGrey: #e0dbdb;
$lightGrey: #a3a3a3;
$heartRed: #d60a0a;
$blue: #6c87d1;
$brown: #531c1c;
$lightGreyOpaque: rgba(224, 219, 219, 0.432);

$tablet: 'screen and (min-width: 500px)';
$landscape: 'screen and (min-height: 400px) and (max-width: 640px) and (orientation: landscape)';
$landscapeSmall: 'screen and (max-height: 400px) and (max-width: 640px) and (orientation: landscape)';
$desktop: 'screen and (min-width:800px)';
$desktopLarge: 'screen and (min-width: 900px)';