.showInput {
    display: block;
    width: 85%;
    border-bottom: 0.01em solid rgb(36, 31, 17);

    @media #{$tablet} {
        width: 60%;
    }
}

#wrapper, #wrapper-3 {

    .news--view-change {
        display: flex;
        flex-direction: row;
        width: 30em;
        max-width: 100%;
        margin-right: 0;
        height: 5em;

        @media #{$tablet} {
            height: 7em;
        }

        @media #{$landscape}, #{$desktop} {
            width: calc(50% - 5em);
            height: 4em;
            max-width: calc(50% - 5em);
            margin-right:0.5em;
            margin-left: 0;
            font-size: 0.5em;

            &:nth-child(2n+0) {
                margin-right: 2.5em;
            } 
        }
    }

    .newsImgWrapper--view-change {
        height: 100%;
        width: 30%;
    }

    .newsImg--view-change {
        width:  100%;
        height: 100%;
    }

    .newsInner--view-change {
        margin-top: 0;        
        width: 70%;
        height: 100%;
        font-size: 1.2em;
    }

    .newsContent--view-change {
        flex-direction: row;
    }

    .bookmark-button--position {
        top: 0.1em;
    }
    
}

.js-show-article-title {
    height: 3em !important;
    padding-bottom: 0.2em; 
}

.hideHeaderTitle {
    opacity: 0;
}

.hide-view-btn1 {
    opacity: 0;
}

.hideFooterBtn {
    color: $white;
    border-right: none;
    display:none;
}

.footer-view-wrapper {
    display: none;
}

footer {

    .show-view-btn2 {
        opacity: 1;
    }

    .extend-cred-div {
        width: calc((100% / 6) * 4);

        @media #{$tablet} {
            width: 100%;
        }
    }

}


