.showInput {
    display: block;
    width: 80%;
    border-bottom: 0.01em solid rgb(36, 31, 17);
}

#wrapper {

    .news--view-change {
        display: flex;
        flex-direction: row;
        width: 30em;
        max-width: 100%;
        margin-right: 0;
        height: 5em;
    
    }

    .newsImgWrapper--view-change {
        height: 5em;
        width: 30%;
    }

    .newsImg--view-change {
        width:  100%;
        height: 100%;
    }

    .newsInner--view-change {
        margin-top: 0;        
        width: 70%;
        height: 100%;
        font-size: 1.2em;
    }

    
}

.hideHeaderTitle {
    opacity: 0;
}

.show-view-btn1 {
    opacity: 0;
}

.show-view-btn2 {
    opacity: 1;
}

.hideBackBtn {
    color: $white;
    border-right: none;
    display:none;
}

.footer-view-wrapper {
    display: none;
}

footer {

    .extend-cred-div {
        width: calc((100% / 6) * 3);
    }

}


