@import url('https://fonts.googleapis.com/css?family=Roboto');

body,html {
    font-size: calc(1em + 1vw);
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
}

header {

    h1, i {
        color: white;
    }

    i::before {
        line-height: 1.5em;
        @media #{$desktop} {
            font-size: 0.7em;

        }
        
    }

    h1 {
        font-size: 0.9em;
        color: white;
        letter-spacing: 0.08em;
        font-weight: normal;

        @media #{$desktop} {
            font-size: 0.5em;
            color: $darkGrey;
        }
    }

    .header__view-control--item {
        font-size: 0.7em;
    }
}

.news__container {
    font-size: 0.7em;

    .news__inner {
        font-size: 0.8em;

        @media #{$desktop} {
            font-size: 0.6em;
        }
    }
}

footer {
    button {
        font-size: 0.8em;

        
        @media #{$desktop} {
            color: white;
            font-size: 0.6em;
        }
    }
    a {
        color: $black;
    }
}

#search-btn {
    @media #{$desktop} {
        i {
            color: $darkGrey;
        }
        
    }
}


#wrapper-2 {

    .article__container {
        h4 {
            font-size: 60%;
        }

        p {
            font-size: 60%;
        }
    }

    @media #{$desktop} {
        .article__container {
            
            h4 {
                font-size: 40%
            }
    
            p {
                font-size: 30%;
            }
        }

        i {
            font-size: 0.7em;
        }

        .article__container {
            h4 {
                font-size: 40%
            }
        }
    }

}

